.heading {
    font-size: 24px;
    width: 100%;
    margin: 0;
}
.note {
    font: 18px red;
}
.footer {
    position: fixed;
    background-color: grey;
    color: white;
    bottom: 0;
    width: 100%;
    line-height: 3;
    text-align:center;
}
canvas 
{
    border: 5px solid black;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
}

